# cache
**.DS_Store

# latex
*.aux
*.log
*.synctex.gz
*.out

# ocaml build artifacts
src/main.native
src/main
src/test.native
src/test
**/_build
**/__hidden
**.cmi
**.cmx
**.o
**.a
**.cmxa
**.cmo
**.cmt
**.dump
**.annot
**.ml.depends
**_digests
**_log
**odoc

# atom
src/node_modules/
src/.atom/

# tmp
src/tmp
