# cache
**.DS_Store

# latex
*.aux
*.log
*.synctex.gz
*.out

# ocaml build artifacts
**/_build
src/main
src/main.native
src/**.cmi
src/**.cmx
src/**.cmi
src/**.o
src/**.a
src/**.cmxa
src/**.cmo
src/**.dump

# test
test/
