# cache
**.DS_Store

# latex
*.aux
*.log
*.synctex.gz
*.out

# ocaml build artifacts
src/main
src/main.native
**/_build
**.cmi
**.cmx
**.o
**.a
**.cmxa
**.cmo
**.cmt
**.dump
**.annot
**.ml.depends
**_digests
**_log
**_tags

# merlin
**.merlin

# test
test/
